body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: yellowgreen;
    overflow-y: hidden;
    overflow-x: hidden;
}

header {
    background: yellow;
}

main {
    display: flex;
    justify-content: space-evenly;
}

.container:nth-child(1) {
    background-color: tomato;
}

.container:nth-child(2) {
    background-color: snow;
}
